/* Center the registration form */
.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 25px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for labels */
.form-group label {
  font-weight: bold;
  text-align: left; /* Align labels to the left */
  margin-bottom: 5px; /* Add a small margin between label and input */
}

/* Style for inputs and select */
.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /*   width: 100%; Make input fields and select span the width of the container */
  margin-bottom: 10px;
}

/* Style for the button */
button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%; /* Ensure the button spans the container */
  margin-bottom: 20px;
}

/* Add some spacing between the form elements */
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Set the width of the select element to match the input fields */
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Make select span the width of the container */
  margin-bottom: 10px;
}



