/* Style the navigation bar */
.navbar {
  background-color: #007BFF; /* Change to your desired background color */
  padding: 10px;
}
/* Style the list items */
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end; /* Align items to the right */
}
.navbar li {
  margin-right: 20px; /* Adjust the spacing between items */
}
/* Style the anchor links */
.navbar a {
  text-decoration: none;
  color: white; /* Text color for links */
  font-weight: bold; /* Add emphasis to text */
  font-size: larger;
  transition: color 0.3s; /* Smooth color transition on hover */
}
.navbar-header{
  font-size: xx-large;
  font-weight: bold;
  color: white;
}
.navbar a:hover {
  color: #FFA500; /* Change link color on hover */
}
/* Style the sign-out button */
.mat-dialog-actions button {
  background-color: #FF4500; /* Button background color */
  color: white; /* Button text color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s; /* Smooth background color transition on hover */
}
.mat-dialog-actions button:hover {
  background-color: #FF6347; /* Change button background color on hover */
}
