/* Custom CSS for the internship card */
.card-container {
    display: flex;
    justify-content: center; /* Center align the cards horizontally */
    align-items: center; /* Center align the cards vertically */
    width: 100%;
    padding: 16px; /* Add padding to the container if needed */
    box-sizing: border-box; /* Include padding and border in the width */
  }
  
  .internship-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    width: 70%;
     /* Media query for screens with a minimum width */
     @media screen and (max-width: 768px) {
      width: 90%; /* Change width to 90% for screens with a minimum width of 768px */
    }
  }
  
  .internship-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .internship-card-content {
    padding: 16px;
  }
  
  .internship-card-title {
    font-size: xx-large;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .internship-card-subtitle {
    font-size: x-large;
    color: #555;
  }
  
  .internship-card-content-text {
    font-size: large;
    color: #333;
  }
  
  /* Style for the container div */
  .bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: start;
    margin:90px 10px 50px 10px;
    max-width: 100%;
  }
  
  /* Style for the search input */
  input[type="search"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
    width: 50%;
  }
  
  /* Style for the search button */
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Hover effect for the button */
  button:hover {
    background-color: #0056b3;
  }
  
  .noContent {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: start;
    margin:90px 10px 50px 10px;
    max-width: 100%;
  }