<mat-dialog-content>
    <h2>Add New Internship</h2>
    <form>
      <mat-form-field>
        <input matInput placeholder="Title" [(ngModel)]="title" name="title">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Description" [(ngModel)]="description" name="description">
        </textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Offered" [(ngModel)]="offered" name="offered">
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button (click)="saveInternship()">Save</button>
  </mat-dialog-actions>